<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196_course_scheduler_austin_thomas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Course Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".Activities.AddEditNoteActivity"
            android:parentActivityName=".Activities.AddEditCourseActivity" />
        <activity
            android:name=".Activities.NotificationSettingsActivity" />
        <activity
            android:name=".Activities.AddEditAssessmentActivity"
            android:parentActivityName=".Activities.AddEditCourseActivity" />
        <activity
            android:name=".Activities.AddEditCourseMentorActivity"
            android:parentActivityName=".Activities.CourseMentorListActivity" />
        <activity
            android:name=".Activities.CourseMentorListActivity"
            android:parentActivityName=".Activities.CourseListActivity" />
        <activity
            android:name=".Activities.AddEditCourseActivity"
            android:parentActivityName=".Activities.CourseListActivity" />
        <activity
            android:name=".Activities.CourseListActivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddEditTermActivity"
            android:parentActivityName=".Activities.TermListActivity" />
        <activity
            android:name=".Activities.TermListActivity"
            android:parentActivityName=".Activities.HomeActivity" />
    </application>

</manifest>